// Color Pallete
$white:           #fff;
$white-2:         #F8F9FB;
$white-3:         #F9FDFF;
$off-white:       #ecf4f3;
$black:           #000;
$grey:            #696868;
$brown:           #424242;
$shadow:          rgba(0, 0, 0, 0.16);
$purple-lt:       #41456475;
$blue:            #082a5b;
$blue-2:          #1270A3;
$aqua:            #1fbee6;
$green:           #1fb940;
$red:             red;
$red-2:           #EB5E5F;
$peach:           #ff7e67;
$teal:            #006a71;
$teal-lt:         #68b0ab;
$yellow:          #ffc93c;

// Color Assignments 
$primary:         $peach;
$secondary:       $teal;
$secondary-lt:    $teal-lt;

