// Color Pallete
$white:           #fff;
$black:           #000;
$grey-2:          #949494;
$brown:           #424242;
$sky:             #86B4FA;
$yellow:          #ffc93c;
$dark-gradiant:     linear-gradient(45deg, rgba(34,34,34,1) 15%, rgba(22,22,22,1) 100%);
$dark:            #222222;

// Color Assignments 
$app-bg:          $dark-gradiant;
$app-bg-fallback: $dark;
$card-bg-color:   rgba(4, 4, 4, 0.363);
$shadow:          rgba(0, 0, 0, 0.16);


