.card {
    width: 100%;
    padding: $gap-6;
    border-radius: $round-2;
    box-shadow: $main-shadow;
    background: $card-bg-color;
    overflow: hidden;
    &__header {
      font-size: 20px;
      color: $white;
    }
    &__subheader {
      font-family: $base-font;
      font-size: 18px;
      font-weight: 400;
    }
  }